footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	font-size: 12px;
	background: #27ae60;
	text-align: center;
	font-family: sans-serif;
	padding: 5px;
	height: 30px;
	transition: all .2s ease-in-out;
	opacity: 0.4;
}

footer:hover {
	opacity: 1.0;
}

a:link {
	color: #000;
}

a:visited {
	color: #0C1E30;
}

header {
	text-align: center;
}

#game {
	/* ...nothing to see here. */
	border-top: 3px solid black;
	border-left: 3px solid black;
	margin: auto;
}

#gameContainer {
	margin: auto;
	text-align: center;
	font-family: sans-serif;
}

body {
	background-color: #2ecc71;
}

#options {
	padding: 2px;
}

#stuff {
	width: 500px;
	margin: auto;
	font-family: sans-serif;
	background-color:rgba(255,255,255,0.3);
	border: 3px solid #27ae60;
	padding: 5px;
	color: #000;
	border-radius: 5px;
}